body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

/* p {
  color: black;
} */

a {
  /* font-family: arial; */
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: auto;
}


a:hover {
 opacity: 0.6;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #41a39a;
  height: 50px;
  display: inline-block;
  width: 100%;
  text-align: right;
}

nav.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

nav button {
  height: 50px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  /* margin: 5px; */
}

iframe {
  height: 100%;
  border-radius: 10px;
}

.last {
  padding-right: 20px;
}

.link {
  padding-top: 10px;
  text-align: center;
}

.subtitle {
  font-style: italic;
}

.imgWrapper {
  overflow: hidden;
}

.imgWrapper.about {
  text-align: center;
  padding-bottom: 30px;
}

.imgWrapper.more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textWrapper {
  text-align: center;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container.writing {
  width: 80%;
  margin: auto;
}

/* .inline {
  display: inline;
} */

.bolded {
  font-weight: bold;
}

.moreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.moreInfo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.moreInfo.iframeContainer {
  /* width: 400px; */
  width: min(400px, 110%);
  height: 300px;
}

.moreInfo.about {
  width: 300px;
  min-height: 400px;
  box-shadow: 5px 5px 5px gray;
}

.moreInfo > .title {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  background-color: #41a39a;
  color: white;
  width: 100%;
}

.moreInfo > .title h3 {
  padding-left: 5px;
}

.moreInfo > .body {
  min-height: 350px;
  background-color: #e4f5f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  word-wrap: break-word;
}

.moreInfo > * > * > p, .disclaimer {
  /* word-wrap: break-word; */
  /* overflow: auto; */
  font-size: 12px;
}

.circleContainer {
  width: min(300px, 100%);
  margin: 20px;
}

.circle {
  width: 100%;
  /* width: min(300px, 100%); */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #5ed1c6;
  /* margin: 20px; */
}

ul.description {
  font-size: 12px;
  width: 70%;
}

.planType {
  margin-bottom: 0;
  font-size: 24px;
}

.pricetag {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

#home {
  background-color: #5ed1c6;
}

#home p, #home h1 {
  color: white;
  word-wrap: break-word;
  width: 100%
}

#titleBox {
  padding: 50px;
  padding-bottom: 0px;
}

#wave {
  filter: invert(1);
}

#demo {
  background-color: #36857d;
}

#demo h2, #demo .disclaimer {
  color: white;
}

#prices {
  background-color: #e4f5f3;
  padding-bottom: 100px;
}

/* #circleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
