body {
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

/* h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;
} */

h1 {
  font-size: 72px;
  /* font-size: 5vw; */
}

h2 {
  font-size: 50px;
}

a {
  /* font-family: arial; */
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: auto;
}


a:hover {
 opacity: 0.6;
}

/* #mainLink:focus {
  background-color: #1c5c56;
} */

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  /* background-color: #1c5c56; */
  height: 50px;
  display: inline-block;
  width: 100%;
  text-align: right;
}

nav.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

nav button {
  height: 50px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  /* margin: 5px; */
}

nav a {
  font-size: 16px;
  /* font-size: 1.2vw; */
}

iframe {
  height: 100%;
  border-radius: 10px;
  border: none;
  overflow: auto;
  --webkit-overflow-scrolling: touch;
}

span, p {
  line-height: 1.5;
  /* font-size: 1.2vw; */
}

.last {
  padding-right: 20px;
}

.link {
  padding-top: 10px;
  text-align: center;
}

/* .link a {
  text-decoration: underline;
} */

.subtitle {
  font-style: italic;
}

.imgWrapper.title {
  overflow: hidden;
  background: url('images/soundwave.png');
  background-repeat: repeat-x;
  width: 100%;
  min-height: 336px;
  /* height: 100%; */
}

.imgWrapper.about {
  text-align: center;
  padding-bottom: 30px;
}

.imgWrapper.more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textWrapper {
  text-align: center;
  width: 100%;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container.writing {
  width: 80%;
  margin: auto;
}

.desc, .disclaimer {
  max-width: 1000px;
  margin: auto;
}

.bolded {
  font-weight: bold;
}

.moreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.demo-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
}

.moreInfo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.iframe-and-link {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

#review-iframe {
  display: none;
}

.demo-buttons {
  margin-left: 20px;
}

.demo-button {
  /* width: 50px; */
  font-size: 1rem;
  border: none;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  margin: 0;
  background: #e4f5f3;
  /* background: rgba(255,255,255,0.5) */
}

#review-button {
  background: #95a1a0;
}

.demo-button:hover {
  opacity: 0.6;
}

.moreInfo.iframeContainer {
  width: 500px;
  /* width: min(400px, 110%); */
  min-height: 400px;
  border-radius: 0;
}

.moreInfo.description {
  /* max-width: 800px; */
  /* vertical-align: center;
  justify-content: center; */
}

.moreInfo.about {
  background-color: #e4f5f3;
  width: 300px;
  min-height: 400px;
  box-shadow: 5px 5px 5px gray;
}

.moreInfo > .title {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  /* background-color: #406e65; */
  /* background-image: linear-gradient(to bottom right, #5ed1c6, #4b5ea3); */
  background-color: #27837b;
  /* background-color: #41a39a; */
  color: white;
  width: 100%;
}

.moreInfo > .title h3 {
  padding-left: 10px;
}

.moreInfo > .body {
  /* flex: 1;
  background-color: #e4f5f3; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  word-wrap: break-word;
}

.moreInfo > * > * > p {
  font-size: 14px;
}

.disclaimer {
  /* word-wrap: break-word; */
  /* overflow: auto; */
  font-size: 12px;
}

.circleContainer {
  width: min(300px, 100%);
  margin: 20px;
}

.circle {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  /* border: 3px solid white; */
  /* background-color: #5ed1c6; */
  background: linear-gradient(to bottom right, #5ed1c6, #4b5ea3);
  /* margin: 20px; */
}

ul.description {
  font-size: 14px;
  /* width: 80%; */
  width: 70%;
  line-height: 14px;
}

.planType {
  margin-bottom: 0;
  font-size: 28px;
}

.pricetag {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

/* .titleBox > p {
  margin: auto;
} */

.hiddenLabel {
  display: none;
}

.footerBox {
  padding-top: 0px;
}

#home {
  /* background-color: #5ed1c6; */
  background-image: linear-gradient(to bottom right, #5ed1c6, #4b5ea3);
  min-height: 100vh;
  /* #8053ad */
}

#home p, #home h1 {
  /* color: white; */
  /* word-wrap: break-word; */
  /* color: #101421; */
  width: 100%;
}

#titleBox {
  padding: 50px;
  padding-bottom: 0px;
}

#demoDescription {
  /* padding-top: 50px;
  padding-bottom: 0px; */
  width: 400px;
  margin: 0px 25px 0px 25px;
  /* margin: 0; */
}

/* #wave {
  filter: invert(1);
} */

#about {
  text-align: left;
  background-color: #dedfe3;
}

#demo {
  /* background-color: #1c5c56; */
  /* background-color: #404c7d; */
  background-color: #40557d;
  /* background-color: #36857d; */
  padding: 50px 0px 50px 0px;
}

#demo h2, #demo .disclaimer, #demo p {
  color: white;
}

/* #demo p {
  width: min(850px, 100%);
  margin: auto;
} */

#demo .disclaimer {
  padding-top: 10px;
}

#prices {
  background-color: #e4f5f3;
  padding-bottom: 100px;
}

#priceHeader {
  padding-top: 0;
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
