body {
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

a {
  /* font-family: arial; */
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: auto;
}


a:hover {
 opacity: 0.6;
}

/* #mainLink:focus {
  background-color: #1c5c56;
} */

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #1c5c56;
  /* background-color: #27837B; */
  /* background-color: #41a39a; */
  height: 50px;
  display: inline-block;
  width: 100%;
  text-align: right;
}

nav.scrollMenu {
  overflow: auto;
  white-space: nowrap;
}

nav button {
  height: 50px;
  display: inline-block;
  background: none;
  border: none;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  /* margin: 5px; */
}

iframe {
  height: 100%;
  border-radius: 10px;
  overflow: auto;
  --webkit-overflow-scrolling: touch;
}

.last {
  padding-right: 20px;
}

.link {
  padding-top: 10px;
  text-align: center;
}

/* .link a {
  text-decoration: underline;
} */

.subtitle {
  font-style: italic;
}

.imgWrapper.title {
  overflow: hidden;
}

.imgWrapper.about {
  text-align: center;
  padding-bottom: 30px;
}

.imgWrapper.more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.textWrapper {
  text-align: center;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container.writing {
  width: 80%;
  margin: auto;
}

.bolded {
  font-weight: bold;
}

.moreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.moreInfo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.moreInfo.iframeContainer {
  width: 400px;
  /* width: min(400px, 110%); */
  min-height: 300px;
}

.moreInfo.about {
  background-color: #e4f5f3;
  width: 300px;
  min-height: 400px;
  box-shadow: 5px 5px 5px gray;
}

.moreInfo > .title {
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  background-color: #27837b;
  /* background-color: #41a39a; */
  color: white;
  width: 100%;
}

.moreInfo > .title h3 {
  padding-left: 5px;
}

.moreInfo > .body {
  /* flex: 1;
  background-color: #e4f5f3; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  word-wrap: break-word;
}

.moreInfo > * > * > p {
  font-size: 14px;
}

.disclaimer {
  /* word-wrap: break-word; */
  /* overflow: auto; */
  font-size: 12px;
}

.circleContainer {
  width: min(300px, 100%);
  margin: 20px;
}

.circle {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #5ed1c6;
  /* margin: 20px; */
}

ul.description {
  font-size: 14px;
  /* width: 80%; */
  width: 70%;
  line-height: 14px;
}

.planType {
  margin-bottom: 0;
  font-size: 24px;
}

.pricetag {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

/* .titleBox > p {
  margin: auto;
} */

.hiddenLabel {
  display: none;
}

.footerBox {
  padding-top: 0px;
}

#home {
  background-color: #5ed1c6;
}

#home p, #home h1 {
  /* color: white; */
  word-wrap: break-word;
  width: 100%
}

#titleBox {
  padding: 50px;
  padding-bottom: 0px;
}

#demoDescription {
  padding-top: 50px;
  padding-bottom: 0px;
}

/* #wave {
  filter: invert(1);
} */

#demo {
  background-color: #1c5c56;
  /* background-color: #27837B; */
  /* background-color: #36857d; */
}

#demo h2, #demo .disclaimer, #demo p {
  color: white;
}

#demo p {
  width: min(850px, 100%);
  margin: auto;
}

#demo .disclaimer {
  padding-top: 10px;
}

#prices {
  background-color: #e4f5f3;
  padding-bottom: 100px;
}

#priceHeader {
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
