body {
  background-color: black;
}

h1, h2, h3, h4, a, label {
  color: #f2ef80;
  font-family: 'Rubik', sans-serif;
}

h3 {
  font-size: 24px;
}

label {
  display: block;
}

textarea {
  border-radius: 20px;
  width: 70%;
  border: none;
  font-family: arial;
  height: 200px;
  word-wrap: break-word;
}

button {
  border: none;
  padding: 10px;
  background-color: #f2ef80;
  font-family: 'Rubik', sans-serif;
}

span {
  font-family: 'Rubik', sans-serif;
  color: #f2ef80;
}

.starContainer {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
}

.starFilled {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.starFilled:not(:hover) {
  display: none;
}

.reviewHeader {
  padding-top: 0px;
  padding-bottom: 10px;
}

#starMessageContainer {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#ratingButtonContainer, #thanksMessageContainer {
  display: none;
}

#ratingButtonContainer {
  padding-bottom: 20px;
}
